.body{
    width: 100%;
    height: 1000px;
    background-image: url('../img/92-925774_sea-coral-wallpaper-hd.jpg');
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 200px;
}

.contentBox{
    width: 1232px;
    height: 243px;
    background: linear-gradient(100.54deg, rgba(252, 252, 252, 0.5) 0.44%, rgba(252, 252, 252, 0.5) 0.45%, rgba(196, 196, 196, 0.5) 100%);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-family: Rochester;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
}

.content{
    width: 80%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    margin: auto;
}
