.body{
    width: 100%;
    height: 800px;
    background-image: url('../img/Deep-sea.jpg');
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 100px;
}

.boxInput{
    width: 1232px;
    height: 600px;
    background: linear-gradient(100.54deg, rgba(252, 252, 252, 0.5) 0.44%, rgba(252, 252, 252, 0.5) 0.45%, rgba(196, 196, 196, 0.5) 100%);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    margin: auto;
}

.title{
    font-family: Rochester;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
}

.caption{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-left: 15%;
    margin-top: 10px;
}

textarea{
    margin-left: 110px;
}

.signin{
    width: 150px;
    height: 40px;  
    background: #4964AB;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    text-decoration: none;
}

.signin p{
    padding-top: 5px;
    color: white;
}

.select{
    margin-left: 110px;
    width: 44%;
}

.errMsg{
    /* background-color: aqua; */
    width: 70%;
    margin-left: 120px;
    color: rgb(0, 17, 255);
}

.captionImg{
    margin-left: 80px;
}